<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DownloadPhotoFromDrone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5705ED84254FFF6E0046CB68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5705ED9F254FFF710046CB68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5705EDAA254FFF710046CB68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
